<div class="main-container white-text">
  <!---%= render "reports/new" %-->
  <h1>Reports for <%= @ski_spot.location_name %></h1>
  <%= link_to "Back", request.referrer, class: "btn btn-primary" %>
  <!---%= link_to "back", ski_spots_path, class: "btn btn-primary" %--->
  <%= link_to "add report", new_ski_spot_report_path, class: "btn btn-primary" %>
  <div class="comment-box">
    <% @reports.each do |report| %>
      <div class="comment">
        <div class="comment-details row">
          <div class="col-sm-4">
            <% if report.user.avatar.attached? %>
              <%= image_tag(report.user.avatar, alt: "avatar", class: "avatar", id: "avatar") %>
            <% else %>
              <%= image_tag "avatar-grey.jpeg", alt: "avatar", class: "avatar" %>
            <% end %>
            <p><%= report.user.username %></p>
          </div>
          <div class="col-sm-4">
            <p><%= time_ago_in_words(report.created_at) %></p>
          </div>
          </div>
          <p><%= report.comment %></p>
      </div>
    <% end %>
  </div>
</div>
