<div class="main-container white-text">
  <!---%= render "reports/new" %-->
  <h1>Reports for <%= @ski_spot.location_name %></h1>
  <%= link_to "add report", new_ski_spot_report_path, class: "btn btn-primary" %>
  <div class="comment-box">
    <div class="comment">
      <% @reports.each do |report| %>
          <p><%= report.user.username %></p>
          <p><%= report.created_at %></p>
          <p><%= report.comment %></p>
      <% end %>
    </div>
  </div>
</div>
